.main_page{
    display: flex;
}


.leftBarList{
    min-width: 20vw;
    min-height: 100%;
    height: 100%;
    position:sticky;
    /* flex-grow: 1;
    overflow-y;  */
}

.right_side{
    min-width: 80vw;
    padding: 50px;
}