*{
    border-radius: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../public/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

  }